@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&display=swap');

html {
  background-color: #000;
  color: #fff;
  font-family: 'Cutive Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
